<a name="timeseries"></a>
<h3 id="timeseries">Time Series Analysis</h3>

<a href="/?duration=30days">30days</a> - 
<a href="/?duration=60days">60days</a> -
<a href="/?duration=90days">90days</a> -
<a href="/?duration=180days">180days</a> -
<a href="/?duration=1year">1 Year</a> -
<a href="/?duration=2year">2 Year</a> -
<a href="/?duration=all">All Time</a>

<input type="text" id="duration"> days 
<div id="show_duration" class="btn btn-primary">Show</div>
<div id="download" class="btn btn-primary">Download (CSV)</div>

<br>

<%= high_chart("timeseries_chart", @timeseries_chart) %>

<br>

<%= high_chart("diff_chart", @diff_chart) %>

<br><br>

<table class="table table-hover table-sm">
	<caption>Bitcion' Exchange Rate</caption>
	<thead>
		<th>Date</th>
		<th>Original Value [USD]</th>
		<th>Moving Average(5) [USD]</th>
	</thead>

	<tbody>
		<% @timeseries_record.each do |record| %>
		<tr>
			<th><%= record['date'] %></th>
			<td><%= record['value'] %></td>
			<td><%= number_with_precision(record['moving_ave']) %></td>
		</tr>
		<% end %>
	</tbody>
</table>


<a name="stats"></a>
<h3 id="stats">Descriptive Statistics</h3>

<table class="table table-hover table-sm">
	<caption>Descriptive Statistics of Bitcoin</caption>
	<thead>
		<th>Statistic</th>
		<th>Original Data</th>
		<th>Differential</th>
	</thead>

	<tbody>
		<tr>
			<th>Num of Records</th>
			<td><%= @desc_data['number'] %></td>
			<td><%= @desc_diff['number'] %></td>
		</tr>
		<tr>
			<th>Mean</th>
			<td><%= number_with_precision(@desc_data['mean']) %></td>
			<td><%= number_with_precision(@desc_diff['mean']) %></td>
		</tr>
		<tr>
			<th>Standard Deviation</th>
			<td><%= number_with_precision(@desc_data['std']) %></td>
			<td><%= number_with_precision(@desc_diff['std']) %></td>
		</tr>
		<tr>
			<th>Min</th>
			<td><%= number_with_precision(@desc_data['min']) %></td>
			<td><%= number_with_precision(@desc_diff['min']) %></td>
		</tr>
    <tr>
      <th>Max</th>
      <td><%= number_with_precision(@desc_data['max']) %></td>
      <td><%= number_with_precision(@desc_diff['max']) %></td>
    </tr>
    <tr>
      <th>Range</th>
      <td><%= number_with_precision(@desc_data['range']) %></td>
      <td><%= number_with_precision(@desc_diff['range']) %></td>
    </tr>
	</tbody>
</table>

<br>

<table class="table table-hover table-sm">
	<caption>Defferential Analysis</caption>
  <thead>
    <th>Item</th>
    <th>Value</th>
  </thead>

  <tbody>
    <tr>
      <th>Latest Exchange Value</th>
      <td><%= number_with_precision(@result['latest_data']) %></td>
		</tr>
    <tr>
      <th>Latest Differential</th>
      <td><%= number_with_precision(@result['latest_diff']) %></td>
    </tr>
    <tr>
      <th>Latest Differential in Moving Average(5)</th>
      <td><%= number_with_precision(@result['latest_diff_mv']) %></td>
    </tr>
    <tr>
      <th>Appreciation Rate</th>
      <td><%= number_with_precision(@result['appreciation_rate']) %></td>
    </tr>
	</tbody>
</table>

<br>

<table class="table table-hover table-sm">
	<caption>Forcasting Result</caption>
	<thead>
		<th>Item</th>
		<th>Value</th>
	</thead>
	<tbody>
		<tr>
			<th>Forcasted Rate in the next round</th>
			<td><%= number_with_precision(@result['forcast']) %></td>
    </tr>
		<tr>
			<th>Forcast Error - Mean</th>
			<td><%= number_with_precision(@result['forcast_err_mean']) %></td>
		</tr>
		<tr>
			<th>Forcast Error - Standard Deviation</th>
			<td><%= number_with_precision(@result['forcast_err_std']) %></td>
		</tr>
	</tbody>
</table>


<a name="bep"></a>
<h3 id="bep">Break Even Point</h3>

<%= high_chart("bep_chart", @bep_chart) %>

<br>

<%= high_chart("bep_confidence_chart", @bep_chart_confidence) %>

<br><br>

<table class="table table-hover table-sm">
		<caption>Comparison of the service charge between Bitcoin and Transferwise</caption>
    <th>Amount</th>
    <th>Fee<br>(Transferwise)<br>[USD]</th>
    <th>Fee<br>(Coinbase)<br>[USD]</th>
		<th>Fee<br>(Coinbase adjusted with Moving Average)<br>[USD]</th>
    <th>Loss<br>(Coinbase Upper 1STD)<br>[USD]</th>
    <th>Loss<br>(Coinbase Lower 1STD)<br>[USD]</th>
		<th>Loss<br>(Coinbase Upper 2STD)<br>[USD]</th>
		<th>Loss<br>(Coinbase Lower 2STD)<br>[USD]</th>
    <th>Winner</th>
		<th>Adjusted Winner</th>
  </thead>

  <tbody>
    <% @bep_record.each do |record| %>
    <tr>
      <th><%= record['amount'] %></th>
      <td><%= number_with_precision(record['transferwise']) %></td>
      <td><%= number_with_precision(record['coinbase']) %></td>
			<td><%= number_with_precision(record['coinbase_adjusted']) %></td>
      <td><%= number_with_precision(record['coinbase_upper_1std']) %></td>
      <td><%= number_with_precision(record['coinbase_lower_1std']) %></td>
			<td><%= number_with_precision(record['coinbase_upper_2std']) %></td>
      <td><%= number_with_precision(record['coinbase_lower_2std']) %></td>
      <td><%= record['winner'] %></td>
			<td><%= record['winner_adjusted'] %></td>
    </tr>
    <% end %>
  </tbody>>
</table>


<a name="raw_data"></a>
<h3 id="raw_data">Raw Data</h3>

<%= @json_data %>

