<a name="timeseries" class="anchor"></a>
<h3>Time Series Analysis</h3>

<a href="/?duration=30days">30days</a> - 
<a href="/?duration=60days">60days</a> -
<a href="/?duration=90days">90days</a> -
<a href="/?duration=180days">180days</a> -
<a href="/?duration=1year">1 Year</a> -
<a href="/?duration=2year">2 Year</a> -
<a href="/?duration=all">All Time</a>

<input type="text" id="duration"> days 
<div id="show_duration" class="btn btn-primary">Show</div>
<div id="download" class="btn btn-primary">Download (CSV)</div>

<br>

<%= high_chart("timeseries", @timeseries_chart) %>

<br>

<%= high_chart("difference", @diff_chart) %>

<br><br>

<table class="table table-hover table-sm">
	<thead>
		<th>Date</th>
		<th>Original Value [USD]</th>
		<th>Moving Average [USD]</th>
	</thead>

	<tbody>
		<% @timeseries_record.each do |record| %>
		<tr>
			<th><%= record['date'] %></th>
			<td><%= record['value'] %></td>
			<td><%= record['moving_ave'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<a name="stats" class="anchor"></a>
<h3>Descriptive Statistics</h3>

<table class="table table-hover table-sm">
	<thead>
		<th>Item</th>
		<th>Value</th>
	</thead>

	<tbody>
		<% @stats_record.each do |record| %>
		<tr>
			<th><%= record['item'] %></th>
			<td><%= record['value'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<a name="bep" class="anchor"></a>
<h3>Break Even Point</h3>

<%= high_chart("bep", @bep_chart) %>

<br><br>

<table class="table table-hover table-sm">
    <th>Amount</th>
    <th>Fee (Transferwise) [USD]</th>
    <th>Fee (Coinbase) [USD]</th>
    <th>Loss (Coinbase Upper 1STD) [USD]</th>
    <th>Loss (Coinbase Lower 1STD) [USD]</th>
		<th>Loss (Coinbase Upper 2STD) [USD]</th>
		<th>Loss (Coinbase Lower 2STD) [USD]</th>
    <th>Winner</th>
  </thead>

  <tbody>
    <% @bep_record.each do |record| %>
    <tr>
      <th><%= record['amount'] %></th>
      <td><%= record['transferwise'] %></td>
      <td><%= record['coinbase'] %></td>
      <td><%= record['coinbase_upper_1std'] %></td>
      <td><%= record['coinbase_lower_1std'] %></td>
			<td><%= record['coinbase_upper_2std'] %></td>
      <td><%= record['coinbase_lower_2std'] %></td>
      <td><%= record['winner'] %></td>
    </tr>
    <% end %>
  </tbody>>
</table>

<a name="raw_data" class="anchor"></a>
<h3>Raw Data</h3>

<%= @json_data %>
