<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NASEBANAL Bitcoin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NASEBANAL Bitcoin</a>
        </div>
				<div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a id="timeseries_menu" href="#timeseries">TIME SERIES ANALYSIS</a></li>
					<li><a id="stats_menu" href="#stats">DESCRIPTIVE STATISTICS</a></li>
					<li><a id="bep_menu" href="#bep">BREAK EVEN POINT</a></li>
					<li><a id="raw_data_menu" href="#raw_data">RAW DATA</a></li>
				</ul>
      </div>
    </nav>


    <div class="container">

      <%= yield %>

      <hr>

      <footer>
				<p><%= fa_icon "github" %><a href="https://github.com/nasebanal/nb-bitcoin">&nbsp;Source code on Github</a></p>
				<p><%= fa_icon "thumbs-up" %>&nbsp;Donate by Bitcoin: 16KPWkW5uPmPZNpudTQL3TgfSFe6snQp1G</p>
        <p>&copy; NASEBANAL 2016</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
